.horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter {
  position: relative;
  height: 42px;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  margin: 2px;
}

.selected {
  border-color: purple;
  background: purple;
}

.thumbnail {
    width: 74px;
    height: 42px;
  border-radius: 2px;
}

#filter-half > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/half.png);
}

#filter-gray > a {
    width: 74px;
    height: 42px;
  background: url(/manifest/resource/img/gray.png);
}

#filter-bright > a {
    width: 74px;
    height: 42px;
  background: url(/manifest/resource/img/bright.png);
}

#filter-cooler > a {
    width: 74px;
    height: 42px;
  background: url(/manifest/resource/img/cooler.png);
}

#filter-red > a {
  width: 74px;
  height: 42px;
background: url(/manifest/resource/img/red.png);
}

#filter-green > a {
  width: 74px;
  height: 42px;
background: url(/manifest/resource/img/green.png);
}

#filter-blue > a {
  width: 74px;
  height: 42px;
background: url(/manifest/resource/img/blue.png);
}

#filter-gaussian > a {
  width: 74px;
  height: 42px;
background: url(/manifest/resource/img/gaussian.png);
}

a {
  display: block;
}
