.horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter {
  position: relative;
  height: 42px;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  margin: 2px;
}

.selected {
  border-color: purple;
  background: purple;
}

.thumbnail {
  width: 74px;
  height: 42px;
  border-radius: 2px;
}

#filter-original > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/original.png);
}

#filter-half > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/half.png);
}

#filter-gray > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/gray.png);
}

#filter-bright > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/bright.png);
}

#filter-cooler > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/cooler.png);
}

#filter-red > a {
  width: 74px;
  height: 42px;
background: url(/manifest/resource/img/red.png);
}

#filter-green > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/green.png);
}

#filter-blue > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/blue.png);
}

#filter-gaussian > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/gaussian.png);
}

#filter-glBoxBlur > a::after {
  content: "box-blur";
}

#filter-glGaussianBlur > a::after {
  content: "gaussian-blur";
}

#filter-glSharpen > a::after {
  content: "sharpen";
}

#filter-glUnsharpen > a::after {
  content: "unsharpen";
}

#filter-glEdgeDetection > a::after {
  content: "edge-detection";
}

#filter-glEmboss > a::after {
  content: "emboss";
}

#filter-glFace > a::after {
  content: "Face";
}

#filter-glMask > a::after {
  content: "Mask";
}

#filter-glBlush > a::after {
  content: "Blush";
}

#filter-spring > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/spring.png);
}

#filter-summer > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/summer.png);
}

#filter-fall > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/fall.png);
}

#filter-winter > a {
  width: 74px;
  height: 42px;
  background: url(/manifest/resource/img/winter.png);
}

a {
  display: block;
}
